@page "/"
<style>
    .icon-grid {
        display: grid;
        grid-template-columns: repeat(10, 32px);
        gap: 16px;
        margin-bottom: 16px;
    }
</style>
<div class="icon-grid">
    <Icon Name="alarm" />
    <Icon Name="arrow" />
    <Icon Name="arrowIntoBox" />
    <Icon Name="arrowOutOfBox" />
    <Icon Name="arrowSpin" Size="24" />
    <Icon Name="cable" Size="24" />
    <Icon Name="calendar" Size="32" />
    <Icon Name="cargo" Size="32" />
    <Icon Name="center" Size="16" />
    <Icon Name="comment" Size="16" />

    <Icon Name="communication" Color="warning" />
    <Icon Name="control" Color="danger" />
    <Icon Name="coriolis" Color="light" />
    <Icon Name="dashboard" Color="dark" />
    <Icon Name="diving" Color="success" />
    <Icon Name="documentSearch" Color="active" />
</div>

<div class="icon-grid">
    <Indication Name="alert" Active="true" />
    <Indication Name="alert" />

    <Indication Name="warning" />
    <Indication Name="warning" Active="false" />

    <Indication Name="danger" />
    <Indication Name="danger" Active="false" />

    <Indication Name="cross" Active="true" />
    <Indication Name="cross" />

    <Indication Name="checkmark" Active="true" />
    <Indication Name="checkmark" />

    <Indication Name="badge-icon" Active="true" />
    <Indication Name="badge-icon" />

    <Indication Name="info" Active="true" />
    <Indication Name="info" />

    <Indication Name="power" Active="true" />
    <Indication Name="power" />
</div>
<div class="icon-grid">
    <BadgeIcon IconName="fishing" Active="true" />
    <BadgeIcon IconName="fishing" />

    <BadgeCount Count="5" />
    <BadgeCount Count="120" Active="true" />
</div>